.app {
  max-width: 1000px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #303030;
  min-height: 100vh;
  position: relative;
  padding-bottom: 150px;
}
.alert-success {
  background: rgb(194, 233, 196);
  color: #303030;
}
.alert-error {
  background: rgb(245, 205, 205);
  color: #303030;
}
.alert-info {
  background: rgb(204, 224, 235);
  color: #303030;
}